@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}


button {
  border-radius: 8px;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: black 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@theme {
  --color-main: #F2F2F2; 
  --color-text: #000000;
  --color-second:#4f46e5;
}

@layer base {
h2 {
  @apply text-3xl lg:text-4xl text-text font-medium;
}

body {
  @apply bg-main text-text h-dvh;
}

.grad {
  @apply bg-linear-to-br from-blue-500 to-indigo-600 ;
}

.grad-back {
  @apply bg-linear-to-br from-blue-500 to-indigo-600;
}


}


@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

